<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>About</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="../static/content/toy/images/img.ico">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet'
          href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,600,600italic,700,700italic'>
    <link rel='stylesheet'
          href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic'>

    <!-- CSS -->
    <link rel='stylesheet' href='../static/css/global.css'>
    <link rel='stylesheet' href='../static/css/structure.css'>
    <link rel='stylesheet' href='../static/css/dentist.css'>
    <!--<link rel='stylesheet' href='custom.css'>-->

</head>

<body class="style-simple layout-full-width mobile-tb-left no-content-padding header-creative header-open minimalist-header sticky-white subheader-both-center menuo-no-borders footer-copy-center">
<div id="Header_creative">
    <a href="#" class="creative-menu-toggle"><i class="icon-menu"></i></a>
    <!--Social info area-->
    <ul class="social creative-social"></ul>
    <div class="creative-wrapper">
        <!-- Header -  Logo and Menu area -->
        <div id="Top_bar">
            <div class="one">
                <div class="top_bar_left">
                    <!-- Logo-->
                    <div class="logo">
                        <a id="logo" href="#" title="SUSTech"><img class="scale-with-grid" src="../static/content/toy/images/sustech.png" alt="SUSTech"/>
                        </a>
                    </div>
                    <!-- Main menu-->
                    <div class="menu_wrapper">
                        <nav id="menu" class="menu-main-menu-container">
                            <ul id="menu-main-menu" class="menu">
                                
                                <li>
                                    <a href="courses"><span>Courses</span></a>
                                </li>
                                <li>
                                    <a href="myself"><span>Myself</span></a>
                                </li>
                                <li class="current_page_item">
                                    <a href="#"><span>About</span></a>
                                </li>
								<li>
                                    <a href="/"><span>Exit</span></a>
                                </li>
                            </ul>
                        </nav>
                        <a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>
                    </div>
                    <!-- Header Searchform area-->
                    <div class="search_wrapper">
                        <form method="get" id="searchform" action="#">

                            <input type="text" class="field" name="s" id="s" placeholder="Enter your search"/>
                            <input type="submit" class="submit flv_disp_none" value=""/>
                        </form>
                    </div>
                </div>
                <!-- Banner area - only for certain pages-->
                <div class="banner_wrapper"></div>
            </div>
        </div>
        <!-- Header Top -  Info Area -->
        <div id="Action_bar">
            <!--Social info area-->
            <ul class="social"></ul>
        </div>
    </div>
</div>


<!-- Main Theme Wrapper -->
<div id="Wrapper">
    <!-- Header Wrapper -->
    <div id="Header_wrapper">
        <!-- Header -->
        <header id="Header"></header>
        <!--Subheader area - only for certain pages -->
        <div id="Subheader">
            <div class="container">
                <div class="column one">
                    <h1 class="title">About</h1>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- JS -->
<script src="../static/js/jquery-2.1.4.min.js"></script>

<script src="../static/js/mfn.menu.js"></script>
<script src="../static/js/jquery.plugins.js"></script>
<script src="../static/js/jquery.jplayer.min.js"></script>
<script src="../static/js/animations/animations.js"></script>
<script src="../static/js/scripts.js"></script>

<script>
    jQuery(window).load(function () {
        var retina = window.devicePixelRatio > 1 ? true : false;
        if (retina) {
            var retinaEl = jQuery("#logo img.logo-main");
            var retinaLogoW = retinaEl.width();
            var retinaLogoH = retinaEl.height();
            retinaEl.attr("src", "images/retina-dentist.png").width(retinaLogoW).height(retinaLogoH);
            var stickyEl = jQuery("#logo img.logo-sticky");
            var stickyLogoW = stickyEl.width();
            var stickyLogoH = stickyEl.height();
            stickyEl.attr("src", "images/retina-dentist.png").width(stickyLogoW).height(stickyLogoH);
        }
    });
</script>

</body>

</html>