<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Courses</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="../static/content/toy/images/img.ico">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet'
          href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,600,600italic,700,700italic'>
    <link rel='stylesheet'
          href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic'>

    <!-- CSS -->
    <link rel='stylesheet' href='../static/css/global.css'>
    <link rel='stylesheet' href='../static/css/structure.css'>
    <link rel='stylesheet' href='../static/css/dentist.css'>
    <!--<link rel='stylesheet' href='custom.css'>-->

</head>

<body class="style-simple layout-full-width mobile-tb-left no-content-padding header-creative header-open minimalist-header sticky-white subheader-both-center menuo-no-borders footer-copy-center" onload="onloadTable()">
<div id="Header_creative">
    <a href="#" class="creative-menu-toggle"><i class="icon-menu"></i></a>
    <!--Social info area-->
    <ul class="social creative-social"></ul>
    <div class="creative-wrapper">
        <!-- Header -  Logo and Menu area -->
        <div id="Top_bar">
            <div class="one">
                <div class="top_bar_left">
                    <!-- Logo-->
                    <div class="logo">
                        <a id="logo" href="#" title="SUSTech"><img class="scale-with-grid" src="../static/content/toy/images/sustech.png" alt="SUSTech"/></a>
                    </div>
                    <!-- Main menu-->
                    <div class="menu_wrapper">
                        <nav id="menu" class="menu-main-menu-container">
                            <ul id="menu-main-menu" class="menu">

                                <li class="current_page_item">
                                    <a href="#"><span>Courses</span></a>
                                </li>
                                <li>
                                    <a href="myself"><span>Myself</span></a>
                                </li>
                                <li>
                                    <a href="about"><span>About</span></a>
                                </li>
                                <li>
                                    <a href="logout"><span>Exit</span></a>
                                </li>
                            </ul>
                        </nav>
                        <a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>
                    </div>
                    <!-- Header Searchform area-->
                    <div class="search_wrapper">
                        <form method="get" id="searchform" action="#">

                            <input type="text" class="field" name="s" id="s" placeholder="Enter your search"/>
                            <input type="submit" class="submit flv_disp_none" value=""/>
                        </form>
                    </div>
                </div>
                <!-- Banner area - only for certain pages-->
                <div class="banner_wrapper"></div>
            </div>
        </div>
        <!-- Header Top -  Info Area -->
        <div id="Action_bar">
            <!--Social info area-->
            <ul class="social"></ul>
        </div>
    </div>
</div>


<!-- Main Theme Wrapper -->
<div id="Wrapper">
    <!-- Header Wrapper -->
    <div id="Header_wrapper">
        <!-- Header -->
        <header id="Header"></header>
        <!--Subheader area - only for certain pages -->
        <div id="Subheader">
            <div class="container">
                <div class="column one">
                    <h1 class="title">Courses</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>Department:</td>
        <td>
            <select id="query_department" name="xx0301id">
                <option value="Select">-----------Select----------</option>

                <option value="Biology">Biology</option>
                <option value="Chemistry">Chemistry</option>
                <option value="Cs">Computer Science</option>
                <option value="Economics">Economics</option>
                <option value="Mathematics">Mathematics</option>
                <option value="Physics">Physics</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Course ID:</td>
        <td><input type="text" id="query_course_id" name="kch" value=""/></td>
    </tr>
    <tr>
        <td>Course Name:</td>
        <td><input type="text" id="query_course_name" name="kcmc" value=""/></td>
    </tr>
</table>

<button style="margin-left: 11%;" type="button" onclick="queryCourses()">Query</button>



<table id="all_class_table" width="100%" border="0" cellspacing="0" cellpadding="0" class="Nsb_r_list Nsb_table">
    <tr>
        <th class="Nsb_r_list_thb" scope="col">Course ID</th>
        <th class="Nsb_r_list_thb" scope="col">Course Name</th>
        <th class="Nsb_r_list_thb" scope="col">Capacity</th>
        <th class="Nsb_r_list_thb" scope="col">Period/hour</th>
        <th class="Nsb_r_list_thb" scope="col">Department</th>
        <th class="Nsb_r_list_thb" scope="col">Time</th>
        <th class="Nsb_r_list_thb" scope="col">Credit</th>
        <th class="Nsb_r_list_thb" scope="col">Selected</th>
        <th class="Nsb_r_list_thb" scope="col">Teacher</th>
        <th class="Nsb_r_list_thb" scope="col">Location</th>
        <th class="Nsb_r_list_thb" scope="col">Option</th>
        <!--     <th class="Nsb_r_list_thb"  scope="col">课程类别</th>
            <th class="Nsb_r_list_thb"  scope="col">课程性质</th>
            <th class="Nsb_r_list_thb"  scope="col">课程属性</th>-->
        <!-- <th class="Nsb_r_list_thb" scope="col">状态</th>
         -->
    </tr>

    <tbody id="tbody_all_courses" style="display: none;">
    <tr>
        <td style="">#</td>
        <td style="">#</td>
        <td style="">#</td>
        <td style="">#</td>
        <td style="">#</td>
        <td style="">#</td>
        <td style="">#</td>
        <td style="">#</td>
        <td style="">#</td>
        <td style="">#</td>
        <!--     <td style="">理论课（不含实践）</td>
      <td style="">专业核心课</td>
      <td style="">选修</td>-->
        <td>
            <a href="#" onclick="pick_withdraw(this);">Select</a>
        </td>
    </tr>
    </tbody>

    <tr>
        <td colspan="16">No more data!</td>
    </tr>

</table>






<script type="text/javascript">
    function queryCourses()
    {
        var dictionary = {
            '1': 'Monday 08:00 - 09:50',
            '2': 'Monday 10:20 - 12:10',
            '3': 'Monday 14:00 - 15:50',
            '4': 'Monday 16:20 - 18:10',
            '5': 'Monday 19:00 - 20:50',

            '6': 'Tuesday 08:00 - 09:50',
            '7': 'Tuesday 10:20 - 12:10',
            '8': 'Tuesday 14:00 - 15:50',
            '9': 'Tuesday 16:20 - 18:10',
            '10': 'Tuesday 19:00 - 20:50',

            '11': 'Wednesday 08:00 - 09:50',
            '12': 'Wednesday 10:20 - 12:10',
            '13': 'Wednesday 14:00 - 15:50',
            '14': 'Wednesday 16:20 - 18:10',
            '15': 'Wednesday 19:00 - 20:50',

            '16': 'Thursday 08:00 - 09:50',
            '17': 'Thursday 10:20 - 12:10',
            '18': 'Thursday 14:00 - 15:50',
            '19': 'Thursday 16:20 - 18:10',
            '20': 'Thursday 19:00 - 20:50',

            '21': 'Friday 08:00 - 09:50',
            '22': 'Friday 10:20 - 12:10',
            '23': 'Friday 14:00 - 15:50',
            '24': 'Friday 16:20 - 18:10',
            '25': 'Friday 19:00 - 20:50',

            '26': 'Saturday 08:00 - 09:50',
            '27': 'Saturday 10:20 - 12:10',
            '28': 'Saturday 14:00 - 15:50',
            '29': 'Saturday 16:20 - 18:10',
            '30': 'Saturday 19:00 - 20:50',
        };

        var table = document.getElementById("all_class_table");
        //or use :  var table = document.all.tableid;
        // alert(table.rows.length);
        for(var i = table.rows.length; i > 2; i--)
        {
            table.deleteRow(i - 1);
        }
        // alert(table.rows.length);
        var course_id = document.getElementById("query_course_id").value.toLowerCase();
        var course_name = document.getElementById("query_course_name").value.toLowerCase();
        var select_options = document.getElementById("query_department");
        var department = select_options.options[select_options.selectedIndex].value.toLowerCase();
        // alert(department + ' ' + course_id + ' ' + course_name);

        var url = "http://119.23.233.0:5000/all_class"
        var json_obj = JSON.parse(Get(url));
        // alert(course_id);

        if(course_id === "")
        {
            if(course_name === "")
            {
                if(department === "select")
                {

                    var i;
                    for(i = 0; i < json_obj.length; i++)
                    {
                        var v0 = json_obj[i][0];
                        var v1 = json_obj[i][1];
                        var v2 = json_obj[i][2];
                        var v3 = json_obj[i][3];
                        var v4 = json_obj[i][4];
                        var v5 = json_obj[i][5];
                        var v6 = json_obj[i][6];
                        var v7 = json_obj[i][7];
                        var v8 = json_obj[i][8];
                        var v9 = json_obj[i][9];
                        addRow(v0,v1,v2,v3,v4,v5,v6,v7,v8,v9,dictionary);
                    }
                }
                else
                {
                    var i;
                    for(i = 0; i < json_obj.length; i++)
                    {
                        var v4 = json_obj[i][4].toLowerCase();
                        if(v4.includes(department))
                        {
                            var v0 = json_obj[i][0];
                            var v1 = json_obj[i][1];
                            var v2 = json_obj[i][2];
                            var v3 = json_obj[i][3];
                            var v4 = json_obj[i][4];
                            var v5 = json_obj[i][5];
                            var v6 = json_obj[i][6];
                            var v7 = json_obj[i][7];
                            var v8 = json_obj[i][8];
                            var v9 = json_obj[i][9];
                            addRow(v0,v1,v2,v3,v4,v5,v6,v7,v8,v9,dictionary);
                        }
                    }
                }
            }
            else
            {
                if(department === "select")
                {
                    var i;
                    for(i = 0; i < json_obj.length; i++)
                    {
                        var v1 = json_obj[i][1].toLowerCase();
                        if(v1.includes(course_name))
                        {
                            var v0 = json_obj[i][0];
                            var v1 = json_obj[i][1];
                            var v2 = json_obj[i][2];
                            var v3 = json_obj[i][3];
                            var v4 = json_obj[i][4];
                            var v5 = json_obj[i][5];
                            var v6 = json_obj[i][6];
                            var v7 = json_obj[i][7];
                            var v8 = json_obj[i][8];
                            var v9 = json_obj[i][9];
                            addRow(v0,v1,v2,v3,v4,v5,v6,v7,v8,v9,dictionary);
                        }
                    }
                }
                else
                {
                    var i;
                    for(i = 0; i < json_obj.length; i++)
                    {
                        var v1 = json_obj[i][1].toLowerCase();
                        var v4 = json_obj[i][4].toLowerCase();
                        if((v1.includes(course_name)) && (v4.includes(department)))
                        {
                            var v0 = json_obj[i][0];
                            var v1 = json_obj[i][1];
                            var v2 = json_obj[i][2];
                            var v3 = json_obj[i][3];
                            var v4 = json_obj[i][4];
                            var v5 = json_obj[i][5];
                            var v6 = json_obj[i][6];
                            var v7 = json_obj[i][7];
                            var v8 = json_obj[i][8];
                            var v9 = json_obj[i][9];
                            addRow(v0,v1,v2,v3,v4,v5,v6,v7,v8,v9,dictionary);
                        }
                    }
                }
            }
        }
        else
        {
            if(course_name === "")
            {
                if(department === "select")
                {
                    var i;
                    var v0 = json_obj[i][0].toLowerCase();
                    for(i = 0; i < json_obj.length; i++)
                    {
                        if(v0.includes(course_id))
                        {
                            var v0 = json_obj[i][0];
                            var v1 = json_obj[i][1];
                            var v2 = json_obj[i][2];
                            var v3 = json_obj[i][3];
                            var v4 = json_obj[i][4];
                            var v5 = json_obj[i][5];
                            var v6 = json_obj[i][6];
                            var v7 = json_obj[i][7];
                            var v8 = json_obj[i][8];
                            var v9 = json_obj[i][9];
                            addRow(v0,v1,v2,v3,v4,v5,v6,v7,v8,v9,dictionary);
                        }
                    }
                }
                else
                {
                    var i;
                    for(i = 0; i < json_obj.length; i++)
                    {
                        var v0 = json_obj[i][0].toLowerCase();
                        var v4 = json_obj[i][4].toLowerCase();
                        if((v4.includes(department)) && (v0.includes(course_id)))
                        {
                            var v0 = json_obj[i][0];
                            var v1 = json_obj[i][1];
                            var v2 = json_obj[i][2];
                            var v3 = json_obj[i][3];
                            var v4 = json_obj[i][4];
                            var v5 = json_obj[i][5];
                            var v6 = json_obj[i][6];
                            var v7 = json_obj[i][7];
                            var v8 = json_obj[i][8];
                            var v9 = json_obj[i][9];
                            addRow(v0,v1,v2,v3,v4,v5,v6,v7,v8,v9,dictionary);
                        }
                    }
                }
            }
            else
            {
                if(department === "select")
                {
                    var i;
                    for(i = 0; i < json_obj.length; i++)
                    {
                        var v0 = json_obj[i][0].toLowerCase();
                        var v1 = json_obj[i][1].toLowerCase();
                        if((v1.includes(course_name)) && v0.includes(course_id))
                        {
                            var v0 = json_obj[i][0];
                            var v1 = json_obj[i][1];
                            var v2 = json_obj[i][2];
                            var v3 = json_obj[i][3];
                            var v4 = json_obj[i][4];
                            var v5 = json_obj[i][5];
                            var v6 = json_obj[i][6];
                            var v7 = json_obj[i][7];
                            var v8 = json_obj[i][8];
                            var v9 = json_obj[i][9];
                            addRow(v0,v1,v2,v3,v4,v5,v6,v7,v8,v9,dictionary);
                        }
                    }
                }
                else
                {
                    var i;
                    for(i = 0; i < json_obj.length; i++)
                    {
                        var v0 = json_obj[i][0].toLowerCase();
                        var v1 = json_obj[i][1].toLowerCase();
                        var v4 = json_obj[i][4].toLowerCase();
                        if((v1.includes(course_name)) && (v4.includes(department)) && (v0.includes(course_id)))
                        {
                            var v0 = json_obj[i][0];
                            var v1 = json_obj[i][1];
                            var v2 = json_obj[i][2];
                            var v3 = json_obj[i][3];
                            var v4 = json_obj[i][4];
                            var v5 = json_obj[i][5];
                            var v6 = json_obj[i][6];
                            var v7 = json_obj[i][7];
                            var v8 = json_obj[i][8];
                            var v9 = json_obj[i][9];
                            addRow(v0,v1,v2,v3,v4,v5,v6,v7,v8,v9,dictionary);
                        }
                    }
                }
            }
        }
    }

    function onloadTable()
    {
        var url = "http://119.23.233.0:5000/all_class"
        var json_obj = JSON.parse(Get(url));
        // var info = JSON.stringify(json_obj);
        // var data = eval('(' + info + ')');
        // alert(data.district);
        // alert(json_obj[0][1]);
        // alert(json_obj.length);

        var dictionary = {
            '1': 'Monday 08:00 - 09:50',
            '2': 'Monday 10:20 - 12:10',
            '3': 'Monday 14:00 - 15:50',
            '4': 'Monday 16:20 - 18:10',
            '5': 'Monday 19:00 - 20:50',

            '6': 'Tuesday 08:00 - 09:50',
            '7': 'Tuesday 10:20 - 12:10',
            '8': 'Tuesday 14:00 - 15:50',
            '9': 'Tuesday 16:20 - 18:10',
            '10': 'Tuesday 19:00 - 20:50',

            '11': 'Wednesday 08:00 - 09:50',
            '12': 'Wednesday 10:20 - 12:10',
            '13': 'Wednesday 14:00 - 15:50',
            '14': 'Wednesday 16:20 - 18:10',
            '15': 'Wednesday 19:00 - 20:50',

            '16': 'Thursday 08:00 - 09:50',
            '17': 'Thursday 10:20 - 12:10',
            '18': 'Thursday 14:00 - 15:50',
            '19': 'Thursday 16:20 - 18:10',
            '20': 'Thursday 19:00 - 20:50',

            '21': 'Friday 08:00 - 09:50',
            '22': 'Friday 10:20 - 12:10',
            '23': 'Friday 14:00 - 15:50',
            '24': 'Friday 16:20 - 18:10',
            '25': 'Friday 19:00 - 20:50',

            '26': 'Saturday 08:00 - 09:50',
            '27': 'Saturday 10:20 - 12:10',
            '28': 'Saturday 14:00 - 15:50',
            '29': 'Saturday 16:20 - 18:10',
            '30': 'Saturday 19:00 - 20:50',
        };

        var i;
        for(i = 0; i < json_obj.length; i++)
        {
            var v0 = json_obj[i][0];
            var v1 = json_obj[i][1];
            var v2 = json_obj[i][2];
            var v3 = json_obj[i][3];
            var v4 = json_obj[i][4];
            var v5 = json_obj[i][5];
            var v6 = json_obj[i][6];
            var v7 = json_obj[i][7];
            var v8 = json_obj[i][8];
            var v9 = json_obj[i][9];
            addRow(v0,v1,v2,v3,v4,v5,v6,v7,v8,v9, dictionary);
        }
    }

    function Get(yourUrl)
    {
        var Httpreq = new XMLHttpRequest(); // a new request
        Httpreq.open("GET",yourUrl,false);
        Httpreq.send(null);
        // window.alert(Httpreq.responseText);
        return Httpreq.responseText;
    }

    function addRow(v0,v1,v2,v3,v4,v5,v6,v7,v8,v9, dictionary)
    {
        let bodyObj = document.getElementById("tbody_all_courses");
        if(bodyObj === null)
        {
            alert("Body of Table not Exist!");
            return;
        }
        let rowCount = bodyObj.rows.length;
        bodyObj.style.display = ""; // display the tbody
        let cellCount = bodyObj.rows[0].cells.length;
        let newRow = bodyObj.insertRow(rowCount++);
        newRow.setAttribute('id',"tr" + rowCount.toString());
        newRow.insertCell(0).innerHTML = v0;
        newRow.insertCell(1).innerHTML = v1;
        newRow.insertCell(2).innerHTML = v2;
        newRow.insertCell(3).innerHTML = v3;
        newRow.insertCell(4).innerHTML = v4;
        var times = v5.split(",");
        // alert('v5:' + v5);
        var info = '';
		var j;
        for (j = 0; j < times.length; j++){
            info = info + dictionary[times[j]] + "<br />";
        }
		
        newRow.insertCell(5).innerHTML = info;
        newRow.insertCell(6).innerHTML = v6;
        newRow.insertCell(7).innerHTML = v7;
        newRow.insertCell(8).innerHTML = v8;
        newRow.insertCell(9).innerHTML = v9;
        let last_cell = newRow.insertCell(10);
        last_cell.innerHTML = bodyObj.rows[0].cells[cellCount - 1].innerHTML;
        last_cell.setAttribute('id',newRow.rowIndex);
        // alert(last_cell.getAttribute('id').toString());
        bodyObj.rows[0].style.display = "none"; // hide the first row
        // alert("new_row" + newRow.innerHTML);
        // alert("rowCount:" + rowCount);
    }

    function pick_withdraw(content)
    {
        // alert("---------------" + content.innerHTML);
        // alert(content.parentElement.innerHTML + "------------");
        if(content.innerHTML === "Select")
        {
            var table_row = content.parentElement.parentElement;
            var course_id = table_row.cells[0].innerHTML;
            var url = "http://119.23.233.0:5000/" + "pick/" + course_id;
            var result = Get(url);
            if(result === "success")
            {
                alert("Select " + course_id + " success!");
                content.innerHTML = "Drop";
            }
            else
            {
                alert(result);
            }
        }
        else if(content.innerHTML === "Drop")
        {
            var table_row = content.parentElement.parentElement;
            var course_id = table_row.cells[0].innerHTML;
            var url = "http://119.23.233.0:5000/" + "withdraw/" + course_id;
            // alert("退课url-----" + url);
            var result = Get(url);

            alert("Drop " + course_id + " success!");
            content.innerHTML = "Select";
        }
        else
        {
            alert('errrrrrrrrrrrrrrrrrrrrrrrrrrrrrror' + content.innerHTML);
        }
    }

</script>









<!-- JS -->
<script src="../static/js/jquery-2.1.4.min.js"></script>

<script src="../static/js/mfn.menu.js"></script>
<script src="../static/js/jquery.plugins.js"></script>
<script src="../static/js/jquery.jplayer.min.js"></script>
<script src="../static/js/animations/animations.js"></script>
<script src="../static/js/scripts.js"></script>

<script>
    jQuery(window).load(function () {
        var retina = window.devicePixelRatio > 1 ? true : false;
        if (retina) {
            var retinaEl = jQuery("#logo img.logo-main");
            var retinaLogoW = retinaEl.width();
            var retinaLogoH = retinaEl.height();
            retinaEl.attr("src", "images/retina-dentist.png").width(retinaLogoW).height(retinaLogoH);
            var stickyEl = jQuery("#logo img.logo-sticky");
            var stickyLogoW = stickyEl.width();
            var stickyLogoH = stickyEl.height();
            stickyEl.attr("src", "images/retina-dentist.png").width(stickyLogoW).height(stickyLogoH);
        }
    });
</script>

</body>

</html>