<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Course Selection System</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="../static/content/toy/images/img.ico">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:300,400,400italic,700,700italic'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:100,300,400'>

    <!-- CSS -->
    <link rel='stylesheet' href='../static/css/global.css'>
    <link rel='stylesheet' href='../static/css/structure.css'>
    <link rel='stylesheet' href='../static/css/toy.css'>
    <link rel='stylesheet' href='../static/css/custom.css'>

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="../static/plugins/rs-plugin/css/settings.css">

</head>

<body class="template-slider color-custom style-simple layout-full-width nice-scroll-on mobile-tb-left button-stroke no-content-padding header-fixed minimalist-header-no sticky-header sticky-white ab-hide subheader-both-center menu-arrow-top menuo-right menuo-no-borders footer-copy-center">
<div id="Wrapper">
    <div id="Header_wrapper" class="bg-parallax" data-enllax-ratio="0.3">
        <header id="Header">
            <div class="header_placeholder"></div>
            <div id="Top_bar">
                <div class="container">
                    <div class="column one">
                        <div class="top_bar_left clearfix">
                            <div class="logo">
                                <a id="logo" href="#" title="SUSTC course selection system"><img class="logo-main   scale-with-grid" src="../static/content/toy/images/bar_icon.png" alt="SUSTC" /><img class="logo-sticky scale-with-grid" src="../static/content/toy/images/bar_icon.png" alt=""><img class="logo-mobile scale-with-grid" src="../static/content/toy/images/bar_icon.png" alt="">
                                </a>
                            </div>
                            <!--<div class="menu_wrapper">-->
                                <!--<nav id="menu" class="menu-main-menu-container">-->
                                    <!--<ul id="menu-main-menu" class="menu">-->
                                        <!--<li class="current_page_item">-->
                                            <!--<a href="index-toy.html"><span>课程</span></a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="../static/content/toy/studio.html"><span>老师</span></a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="../static/content/toy/our-toys.html"><span>专业</span></a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="../static/content/toy/stores.html"><span>登录</span></a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="../static/content/toy/download-support.html"><span>备用</span></a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>-->
                            <!--</div>-->
                            <div class="secondary_menu_wrapper"></div>
                            <div class="banner_wrapper"></div>
                            <div class="search_wrapper">
                                <form method="get" id="searchform" action="#">
                                    <i class="icon_search icon-search"></i><a href="#" class="icon_close"><i class="icon-cancel"></i></a>
                                    <input type="text" class="field" name="s" id="s" placeholder="Enter your search" />
                                    <input type="submit" class="submit" value="" style="display:none;" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <-- 条>
            <div class="mfn-main-slider" id="mfn-rev-slider">
                <div id="rev_slider_1_2_wrapper" class="rev_slider_wrapper fullscreen-container" style="background-color:transparent;padding:0px;">
                    <div id="rev_slider_1_2" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.6">
                        <ul>
                            <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <img src="../static/content/toy/images/home_toy_slider_bg.jpg" alt="" width="1920" height="1200" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                                <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-1-layer-10" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-responsive_offset="on" style="z-index: 5;cursor:pointer;"><img src="../static/content/toy/images/home_toy_slider4.png" alt="" width="1872" height="1185" data-ww="1872px" data-hh="1185px" data-no-retina> </div>
                                <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-1-layer-11" data-x="center" data-hoffset="-31" data-y="center" data-voffset="77" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-responsive_offset="on" style="z-index: 6;cursor:pointer;"><img src="../static/content/toy/images/home_toy_slider3.png" alt="" width="1896" height="1232" data-ww="1896px" data-hh="1232px" data-no-retina> </div>
                                <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" id="slide-1-layer-12" data-x="center" data-hoffset="-172" data-y="center" data-voffset="80" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-responsive_offset="on" style="z-index: 7;cursor:pointer;"><img src="../static/content/toy/images/home_toy_slider2.png" alt="" width="2033" height="1369" data-ww="2033px" data-hh="1369px" data-no-retina> </div>
                                <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" id="slide-1-layer-13" data-x="center" data-hoffset="-7" data-y="center" data-voffset="91" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-responsive_offset="on" style="z-index: 8;cursor:pointer;"><img src="../static/content/toy/images/home_toy_slider1.png" alt="" width="2237" height="1376" data-ww="2237px" data-hh="1376px" data-no-retina> </div>
                                <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-1-layer-9" data-x="center" data-hoffset="" data-y="center" data-voffset="20" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(20, 164, 152, 1.00);" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"login"}]' data-responsive_offset="on" style="z-index: 9; white-space: nowrap; font-size: 17px; line-height: 22px; font-weight: 600; color: rgba(20, 164, 152, 1.00);font-family:Raleway;text-align:center;padding:10px 20px 10px 20px;border-color:rgba(20, 164, 152, 1.00);border-style:solid;border-width:2px;cursor:pointer;">
                                    Login </div>
                                <div class="tp-caption mfnrs_toy_medium_dark   tp-resizeme rs-parallaxlevel-1" id="slide-1-layer-5" data-x="center" data-hoffset="" data-y="center" data-voffset="-90" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 10; white-space: nowrap; font-size: 20px;">
                                    The system will be open at 13:00 2019/01/13</div>
                                <div class="tp-caption mfnrs_toy_large_dark   tp-resizeme rs-parallaxlevel-1" id="slide-1-layer-4" data-x="center" data-hoffset="" data-y="center" data-voffset="-200" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 11; white-space: nowrap;">
                                    Course Selection System </div>
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>

<!-- JS -->
<script src="../static/js/jquery-2.1.4.min.js"></script>
<script src="../static/js/ui/jquery-ui.min.js"></script>

<script src="../static/js/mfn.menu.js"></script>
<script src="../static/js/jquery.plugins.js"></script>
<script src="../static/js/jquery.jplayer.min.js"></script>
<script src="../static/js/animations/animations.js"></script>
<script src="../static/js/scripts.js"></script>

<script src="../static/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="../static/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="../static/plugins/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
<script src="../static/plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="../static/plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
<script src="../static/plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="../static/plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="../static/plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="../static/plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
<script src="../static/plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

<script>
    var tpj = jQuery;
    var revapi1;
    tpj(document).ready(function() {
        jQuery(".jq-tabs").tabs();
        if (tpj("#rev_slider_1_2").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_1_2");
        } else {
            revapi1 = tpj("#rev_slider_1_2").show().revolution({
                sliderType: "hero",
                sliderLayout: "fullscreen",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {},
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: 1240,
                gridheight: 868,
                lazyType: "none",
                parallax: {
                    type: "mouse",
                    origo: "enterpoint",
                    speed: 400,
                    levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                    type: "mouse",
                    disable_onmobile: "on"
                },
                shadow: 0,
                spinner: "spinner0",
                autoHeight: "off",
                fullScreenAutoWidth: "off",
                fullScreenAlignForce: "off",
                fullScreenOffsetContainer: "",
                fullScreenOffset: "",
                disableProgressBar: "on",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    disableFocusListener: false,
                }
            });
        }
    });
    /*]]>*/
</script>

<script id="mfn-dnmc-retina-js">
    jQuery(window).load(function() {
        var retina = window.devicePixelRatio > 1 ? true : false;
        if (retina) {
            var retinaEl = jQuery("#logo img.logo-main");
            var retinaLogoW = retinaEl.width();
            var retinaLogoH = retinaEl.height();
            retinaEl.attr("src", "../static/content/toy/images/bar_icon.png").width(retinaLogoW).height(retinaLogoH);
            var stickyEl = jQuery("#logo img.logo-sticky");
            var stickyLogoW = stickyEl.width();
            var stickyLogoH = stickyEl.height();
            stickyEl.attr("src", "../static/content/toy/images/bar_icon.png").width(stickyLogoW).height(stickyLogoH);
            var mobileEl = jQuery("#logo img.logo-mobile");
            var mobileLogoW = mobileEl.width();
            var mobileLogoH = mobileEl.height();
            mobileEl.attr("src", "../static/content/toy/images/bar_icon.png").width(mobileLogoW).height(mobileLogoH);
        }
    });
</script>

</body>

</html>